<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" type="text/css" href="/static/style/aboutme.css">
</head>
<body>
    
    <main>
       <div id="maincontainer">
        <div>
            <p id="p1">
                Here are some key things about me. 
            </p>
            <p id="p2">
                About me in a nutshell: Started in a small village of 700 people in the middle of Europe. I moved out of the family home at the age of 14 and haven't been out of work ever since. Still, haven't lived 30 years on this planet, however, I worked beside carpenters, bricklayers, and painters in construction, and have done every conceivable work process that involves building a house top to bottom. Worked in various factories during middle school.
            </p>
            <p id="p3">
                Ever since I learned to speak, wanted to travel. So to achieve that, after middle school went up to the capital city where I worked for 2 years in a casino as a croupier. After gaining sufficient experience, I received an invitation to a cruise, from a France-based company. At the time of the offer, I had 6 months until the start date was due, so I thought why not come to England as long as I was permitted due to the political uncertainty (Brexit). Via a work agency, I got my very first contract as kitchen staff in a hotel near Manchester.
            </p>
            <p id="p4">
                Having zero English knowledge at the time, I began my journey with a 24 years old honda civic. I need to add, prior to that, I have never ventured out of borders let alone with a car, but a little more than two days and two-thousand kilometres later, I got there safe and sound. Started as a kitchen porter/cleaner but two months later I was a breakfast chef. A little while later I was lured to Edinburgh with a promising managerial role in a leaflet distribution company, that ultimately got liquidated. In the meantime took up some temporary jobs such as delivering pizza and parcels.
            </p>
            <p id="p5">
                Having still trivial English literacy I seized an opportunity in a low-security hospital on the south coast, where within my two years in the night working 12 hours six days a week taught myself in English to the point, where I was able to secure the most exited job in my life as a trip driver fro Contiki. Acquired the bus licence and would be driving through the EU with 60 people behind my back to this day, had covid not intervened and messed up everything.
            </p>
            <p id="p6">
                During the pandemic, while seeking a better work-life balance, my ambitions led me to start a university. What better way is there than to gain some credentials. As a second-year software engineer student, I am loving every moment of it just as much as my current job as a night controller for a recovery company. Besides the job and life, I am trying to build up my portfolio slowly but surely, just to one day sit in an office working in IT.
            </p>
        </div>




       </div>
        
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="/static/scripts/aboutme.js"></script>
</body>
</html>
<style>
    *{
  font-family: Blippo, fantasy;
}
/*body{
    background-image: url(../pictures/wp2610903-hd-plain-background.jpg);
	background-repeat: no-repeat;
	background-position: cover;
}
*/
main{
  /*
  max-width: 400px;
  width: 100%;
  height: auto;
  margin: 60px auto;
  text-align: center;
  */
  padding-bottom: 100px;
}
header{
  position: relative; /* The right corner for the mail to work*/ 
}
#home{ /*Fading in */ 
  width: 5vh;
  padding: 1.5vh;
  opacity: 0; /* initially the element is invisible*/ 
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
  animation-delay: 1s;
  animation-fill-mode: forwards; 
}
#home:hover{
  transform: scale(1.8);
	transition: 200ms;
}
#email{
  width: 5vh;
  position: absolute; /*the right corner for the email to work*/
  right: 1.5vh;
  top: 1.5vh;
  opacity: 0; /* initially the element is invisible*/ 
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
#email:hover{
  transform: scale(1.8);
	transition: 200ms;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/*Linu up animation ------------------------------*/
h1 { /*Lineing up */
  animation: 2s anim-lineUp ease-out ;
  text-align: center;
}

#p1{
  opacity: 0;
  animation: 2s anim-lineUp ease-out;
  animation-delay: 0.5s;
  animation-fill-mode: forwards; /*stays visible*/
}
#p2{
  opacity: 0;
  animation: 2s anim-lineUp ease-out;
  animation-delay: 1s;
  animation-fill-mode: forwards; /*stays visible*/
}
#p3{
  opacity: 0;
  animation: 2s anim-lineUp ease-out;
  animation-delay: 1.5s;
  animation-fill-mode: forwards; /*stays visible*/
}
#p4{
  opacity: 0;
  animation: 2s anim-lineUp ease-out;
  animation-delay: 2s;
  animation-fill-mode: forwards; /*stays visible*/
}
#p5{
  opacity: 0;
  animation: 2s anim-lineUp ease-out;
  animation-delay: 2.5s;
  animation-fill-mode: forwards; /*stays visible*/
}
#p6{
  opacity: 0;
  animation: 2s anim-lineUp ease-out;
  animation-delay: 3s;
  animation-fill-mode: forwards; /*stays visible*/
}
  

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}



</style>