<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resume</title>
  <link rel="stylesheet" type="text/css" href="/static/style/aboutme.css">
</head>
<body>
  <header>
    
    <a href="/"><img src="../pictures/home.png" alt="home icon" id="home"></a>
    <a href="/contact"><img src="../pictures/email.png" alt="Email icon" id="email"></a>
</header>
<div id="output">

</div>
 



  
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="/static/scripts/resume.js"></script>


  
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="/static/scripts/aboutme.js"></script>
</html>
<script>
  // first rendered page
  $(document).ready(function(){
      $("#output").load("first");
  });  
  /*
  $(document).ready(function(){
  $("#meee").click(function(){
    $("#not").animate({
      height: 'toggle'
    });
  });
});
*/

</script>