<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="/static/style/index.css">
</head>
<body class="demo-1">
	<main>
		<div class="frame">
			<div class="frame__title-wrap">
				<h1 class="frame__title">Hey, its Boldizsar Banfia (Boyszy)</h1>
				
			</div>
			<div class="frame__links">
				<a href="https://www.facebook.com/boldi.banfia" target="_blank"><img src="pictures/facebook.png" alt="facebook icon" class="icon"></a>
				<a href="https://twitter.com/boyszy3" target="_blank"><img src="pictures/twitter.png" alt="Twitter icon" class="icon"></a>
				<a href="https://www.linkedin.com/in/banfia-boldizsar-b1a1971bb/" target="_blank"><img src="pictures/linkedin.png" alt="icon of linkedin" class="icon"></a>
			</div>
			
		</div>
		<nav class="menu">
			<div class="menu__item">
				<a class="menu__item-link" href="/about">About Me </a>
				<img class="menu__item-img" src="pictures/me3.jpg" alt="Some image"/>
				<div class="marquee">
					<div class="marquee__inner" aria-hidden="true">
						<span>About</span>
						<span>Me</span>
                        <span>About</span>
						<span>Me</span>
						<span>About</span>
						<span>Me</span>
					</div>
				</div>
			</div>
			<div class="menu__item">
				<a class="menu__item-link" href="/resume">Resume</a>
				<img class="menu__item-img" src="img/2.jpg" alt="Some image"/>
				<div class="marquee">
					<div class="marquee__inner" aria-hidden="true">
						<span>Resume</span>
						<span>Resume</span>
						<span>Resume</span>
						<span>Resume</span>
					</div>
				</div>
			</div>
			<div class="menu__item">
				<a class="menu__item-link">Experiments</a>
				<img class="menu__item-img" src="img/3.jpg" alt="Some image"/>
				<div class="marquee">
					<div class="marquee__inner" aria-hidden="true">
						<span>Experiments</span>
						<span>Experiments</span>
						<span>Experiments</span>
						<span>Experiments</span>
					</div>
				</div>
			</div>
			<div class="menu__item">
				<a class="menu__item-link">Our Crew</a>
				<img class="menu__item-img" src="img/4.jpg" alt="Some image"/>
				<div class="marquee">
					<div class="marquee__inner" aria-hidden="true">
						<span>The Crew</span>
						<span>The Crew</span>
						<span>The Crew</span>
						<span>The Crew</span>
					</div>
				</div>
			</div>
			<div class="menu__item">
				<a class="menu__item-link" href="/contact">Contact</a>
				<img class="menu__item-img" src="pictures/letter.jpeg" alt="Some image"/>
				<div class="marquee">
					<div class="marquee__inner" aria-hidden="true">
						<span>Contact</span>
						<span>Contact</span>
						<span>Contact</span>
						<span>Contact</span>
					</div>
				</div>
			</div>
		</nav>
		<div class="frame">
			<p>Images by <a href="https://www.instagram.com/byfoul/">Frankie Cordoba AKA Foulster</a></p>
		</div>
	</main>
	<!--script src="https://tympanus.net/codrops/adpacks/cda.js"></script-->
</body>
</html>