<body>
    <main>

        <div class="believe">
            <h2 id="believe" > What I believe and you should too!  </h2>
            
            <div id="toggle">
            <p id="p1" class="pees">Less is somethimes <strong>more!!</strong> </p>
            <p id="p2" class="pees">Everyone was born atheist just some of us stayed that. </p>
            <p id="p3" class="pees">If you can not help someone, at least dont hold them back. </p>
            <p id="p4" class="pees">You have one shot, make it count! </p>
            <p id="p5" class="pees">As corny as it may sounds, you can achieve anything, it is just the matter of effort one willing to put in. Like Henry said, whether you can, or can not do it, you are right!</p>
            <p id="p6" class="pees">Motto of life: <strong>If</strong> you do it, do it properly!</p>
            <p id="p7" class="pees">Trait that describes me the best: <strong>Curious!</strong> </p>
            </div>
            <div>
                <h2>somehting</h2>
            </div>
        </div>
    </main>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
   
   let clicks7 = 0
    $(document).ready(function(){
        $("#believe").click(function(){
            
            clicks7 += 1

            if (clicks7 %2 == 0){
                // for even numbers (going back)
                $("#believe").animate({
                    "font-size": "2em"
                })
                $(".pees").slideUp(500)
                
                

            } else{
                // odd numbers (opening)
                $("#believe").animate({
                    "font-size": "3em",
                })
               
                $(".pees").fadeIn(500)
                
            }

        });
    });
    $("#believe").tabs();
</script>
<style>
    #down, #up{
        width: 3vh;
        
    }
#up{
    display: none;
}
.pees{
    display: none;
    text-align: center;
}

main{
    
}
#believe { /*Lineing up */
  animation: 1s anim-lineUp ease-out ;
  text-align: center;
  padding-top: 1vh;
}

#p1{
    animation: 2s anim-lineUp ease-out;
}
#p2{
    animation: 3s anim-lineUp ease-out;
}
#p3{
    animation: 4s anim-lineUp ease-out;
}
#p4{
    animation: 5s anim-lineUp ease-out;
}
#p5{
    animation: 6s anim-lineUp ease-out;
}
#p6{
    animation: 7s anim-lineUp ease-out;
}
#p7{
    animation: 8s anim-lineUp ease-out;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}



h2::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

h2:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

h2::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: hsl(200 100% 80%);
  
  z-index: -1;
  transition: transform .3s ease;
}

h2 {
  position: relative;
  font-size: 5rem;
}

html {
  block-size: 100%;
  inline-size: 100%;
}

#believe {
  min-block-size: 15%;
  min-inline-size: 15%;
  margin: 0;
  box-sizing: border-box;
  display: grid;
  place-content: center;
  font-family: system-ui, sans-serif;
}

@media (orientation: landscape) {
  #believe {
    grid-auto-flow: column;
  }
}

</style>