<body>
    <div>
        <h2 class="h21"><p class="backin2"><-</p> Fundamental year! <p class="out2">-></p></h2>
        <div class="togle" >
            Due to foreign credentials, the condition of my acceptence to higher education was if I took a fundation year. I have taken it in business due to other interests. Had modules in marketing, self growth, and never gonna guess, in Business, both national and international. Finished that year with First class in every module. 
        </div>
    </div>   
    <h2 class="firstyear"><p class="backin"> <-</p> First year! <p class="out">-></p></h2> 

    </div>
        <h2 class="h22">CISCO</h2>
        <div class="togle2">
            I got CISCO certified from the firts step of Network and security, where I acquired the basic knowledge of how the web (protocols) contstracted, manipulate and set up cisco router, network both hardware and software. Outcome in the form of constrained exams, was suprisingly good First Class in both practical and multichoice tests. 
        </div>
    <div>
    <div>
        <h2 class="h23">UX</h2>
        <div class="togle3">
            UX. Had the pleasure of learnign the importance and the structure of UX in all sorts of settings. Also designed an application from top to bottom.
        </div>
    </div>
    <div>
        <h2 class="h24">Python</h2>
        <div class="togle4">
            Python. The very first programming Class I have taken. It introduced the fundamentals of a multi-paradigm programming language. The module also gave an insight to the object orianted programming and data handling and visualizing with Matplotlib. I built my very first program that was able to display the variety of summed up points of the fed dataset within choosable menues.  
        </div>
    </div>
    <div>
        <h2 class="h25">SQL</h2>
        <div class="togle5">
            SQL. Database with sql lite and python. Learnign the syntax of the sql and the structure of diverse database systems. By the end of it I was able to extend a half finished ERD diagramm in accordance with the documentation, analyze it, and build a whole program around it with python. Same type of program with a main and many sub-menues. It was a UI less back bone of a commercial website, directly sending and receiving information from the database involving numerous tables following the best practice. Within the program, the user was able to log in with a set id, create a cart and shop for the categorized few items, remove, add them and cutomize the cart in many way. Picture it as Amazon in infancy. 
        </div>
    </div>
    <div>
        <h2 class="h26">Webdev</h2>
        <div class="togle6">
            WebDev: HTML, CSS, JavaSrcript, Node, Mysql. 
            First ever built built website. By the end of it I had to build a fully fledged database driven website with a resizable mobile friendly layout. The festival website sent data upon sending  enquery(contact us page) to the website and displayed data from another database for the stages of the authors (itinerary).
        </div>
    </div>
    <h2 class="secondyear"><p class="backin3"><-</p> Second year! <p class="out3">-></p></h2>
    <div class="secondWrap">
        <h2>In progress!</h2>
        <p>Report is coming soon!</p>
    </div>
    <p class="parak">The actual projects can not be publicised due to educational birocracy.</p>

    
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    /*
    $(document).ready(function(){
        $("h2").click(function(){
            $(".togle").slideToggle("slow")
            $("h2").animate({
                "font-size":"3em",
                //"width":"50%",
                "padding-left":"20vh"
            },1000)
        });
    });
        */
       // first year 
       let clicks0 = 0
    $(document).ready(function(){
        $(".firstyear").click(function(){
            
            clicks0 += 1  // cliks are working 
            if(clicks0 %2 == 0){
                // code for even number (going back)
                $(".firstyear").animate({
                    "font-size":"2em",
                    "padding-left":"0vh"
                },1000)
                $(".h22").fadeOut(1000)
                $(".h23").fadeOut(1000)
                $(".h24").fadeOut(1000)
                $(".h25").fadeOut(1000)
                $(".h26").fadeOut(1000)
                $(".togle2").fadeOut(1000)
                $(".togle3").fadeOut(1000)
                $(".togle4").fadeOut(1000)
                $(".togle5").fadeOut(1000)
                $(".togle6").fadeOut(1000)
                $(".out").fadeIn(1000)
                $(".backin").animate({opacity:0},1000) // this way it moves slowely, not eratically
            } else{
                // code for odd number (coming out)
                $(".firstyear").animate({
                "font-size":"4em",
                //"width":"50%",
                "padding-left":"20vh"
                },1000)
                $(".h22").fadeIn(1000) 
                $(".h23").fadeIn(1000)
                $(".h24").fadeIn(1000)
                $(".h25").fadeIn(1000)
                $(".h26").fadeIn(1000)
                $(".out").fadeOut(1000)
                $(".backin").animate({opacity:1},1000)

            }
        });
    });
    // second year
    let clicks22 = 0

        $(document).ready(function(){
        $(".secondyear").click(function(){
            
            clicks22 += 1  // cliks are working 
            if(clicks22 %2 == 0){
                // code for even number
                $(".secondyear").animate({
                    "font-size":"2em",
                    "padding-left":"0vh"
                },1000)
                $(".secondWrap").fadeOut(1000)
                $(".out3").fadeIn(1000)
                $(".backin3").animate({opacity:0},1000)
            } else{
                // code for odd number
                $(".secondyear").animate({
                "font-size":"4em",
                //"width":"50%",
                "padding-left":"20vh"
                },1000)
                $(".secondWrap").fadeIn(1000)   
                $(".out3").fadeOut(1000)
                $(".backin3").animate({opacity:1},1000)
            }
        });
    });

       // first div fundamentals
        let clicks = 0

        $(document).ready(function(){
        $(".h21").click(function(){
            
            clicks += 1  // cliks are working 
            if(clicks %2 == 0){
                // code for even number
                $(".h21").animate({
                    "font-size":"2em",
                    "padding-left":"0vh"
                },1000)
                $(".togle").fadeOut(1000)
                $(".out2").fadeIn(1000)
                $(".backin2").animate({opacity:0},1000)
                
            } else{
                // code for odd number
                $(".h21").animate({
                "font-size":"3em",
                //"width":"50%",
                "padding-left":"20vh"
                },1000)
                $(".togle").fadeIn(1000)
                $(".out2").fadeOut(1000)   
                $(".backin2").animate({opacity:1},1000)
            }
        });
    });
    // Second div CISCO
    let clicks2 = 0
    $(document).ready(function(){
        $(".h22").click(function(){
            
            clicks2 += 1  // cliks are working 
            if(clicks2 %2 == 0){
                // code for even number
                $(".h22").animate({
                    "font-size":"2em",
                    "padding-left":"0vh"
                },1000)
                $(".togle2").fadeOut(1000)
                
            } else{
                // code for odd number
                $(".h22").animate({
                "font-size":"3em",
                //"width":"50%",
                "padding-left":"20vh"
                },1000)
                $(".togle2").fadeIn(1000)   
            }
        });
    });
    // third div UX
    let clicks3 = 0
    $(document).ready(function(){
        $(".h23").click(function(){
            
            clicks3 += 1  // cliks are working 
            if(clicks3 %2 == 0){
                // code for even number
                $(".h23").animate({
                    "font-size":"2em",
                    "padding-left":"0vh"
                },1000)
                $(".togle3").fadeOut(1000)
                
            } else{
                // code for odd number
                $(".h23").animate({
                "font-size":"3em",
                //"width":"50%",
                "padding-left":"20vh"
                },1000)
                $(".togle3").fadeIn(1000)   
            }
        });
    });
    // fourth div, ptyhon 
    let clicks4 = 0
    $(document).ready(function(){
        $(".h24").click(function(){
            
            clicks4 += 1  // cliks are working 
            if(clicks4 %2 == 0){
                // code for even number
                $(".h24").animate({
                    "font-size":"2em",
                    "padding-left":"0vh"
                },1000)
                $(".togle4").fadeOut(1000)
                
            } else{
                // code for odd number
                $(".h24").animate({
                "font-size":"3em",
                //"width":"50%",
                "padding-left":"20vh"
                },1000)
                $(".togle4").fadeIn(1000)   
            }
        });
    });
   // div 5 SQL
   let clicks5 = 0
    $(document).ready(function(){
        $(".h25").click(function(){
            
            clicks5 += 1  // cliks are working 
            if(clicks5 %2 == 0){
                // code for even number
                $(".h25").animate({
                    "font-size":"2em",
                    "padding-left":"0vh"
                },1000)
                $(".togle5").fadeOut(1000)
                
            } else{
                // code for odd number
                $(".h25").animate({
                "font-size":"3em",
                //"width":"50%",
                "padding-left":"20vh"
                },1000)
                $(".togle5").fadeIn(1000)   
            }
        });
    });
    // sixth div, webdev
    let clicks6 = 0
    $(document).ready(function(){
        $(".h26").click(function(){
            
            clicks6 += 1  // cliks are working 
            if(clicks6 %2 == 0){
                // code for even number
                $(".h26").animate({
                    "font-size":"2em",
                    "padding-left":"0vh"
                },1000)
                $(".togle6").fadeOut(1000)
                
            } else{
                // code for odd number
                $(".h26").animate({
                "font-size":"3em",
                //"width":"50%",
                "padding-left":"20vh"
                },1000)
                $(".togle6").fadeIn(1000)   
            }
        });
    });
</script>
<style>
    .backin, .backin2, .backin3{
        display: inline;
        opacity: 0;
    }
    
    .out, .out2, .out3{
        display: inline;
    }
    .togle, .togle2, .togle3, .togle4, .togle5, .togle6, .secondWrap{
        display: none;
        
    }
    .lol{
        display: none;
        visibility: hidden;
    }
    .h22, .h23, .h24, .h25, .h26{
        display: none;
        cursor: pointer;
    }
.h21 { /*Lineing up */
  animation: 3s anim-lineUp ease-out ;
  cursor: pointer;
}
.firstyear { /*Lineing up */
  animation: 4s anim-lineUp ease-out ;
  cursor: pointer;
}
.secondyear { /*Lineing up */
  animation: 5s anim-lineUp ease-out ;
  cursor: pointer;
}
.parak { /*Lineing up */
  animation: 6s anim-lineUp ease-out ;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

    

    
</style>