<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style/index.css">
    <title>Contact Us</title>
</head>
<body>
    <header>
        <h1> Contact Wheelsify</h1> 
        <div id="scroll">
        </div>
     </header>

    <div id="navbar">
        <%- include('particles/navbar.ejs')%>
    </div>

    <main>
        <div>
            <p>Drop us an email.</p>
            <p>Note! Response time 5 days at most.</p>
        </div>
        <br>
        <form action="https://formsubmit.co/keletvalami@gmail.com" method="POST">
            <input type="hidden" name="_subject" value="Wheelsify!">
            <label for="name">Name:</label>
            <input type="text" name="name" placeholder="Enter your name" required>
            <br><br>
            <label for="email">E-mail:</label>
            <input type="email" name="email" placeholder="Enter your email adress." required>
            <!--The value is temporary!-->
            <input type="hidden" name="_next" value="http://localhost:3000/thankyou">
            <br><br>
            <input type="text" name="massage" placeholder="Enter your massage here.">
            <input type="hidden" name="_captcha" value="false">
            <button type="submit">Send</button>
       </form>

    </main>

</body>
</html>