

<main>
    <div>
        <p>There are going to be multiple boundles that advertisers can choose from.</p>
        <p id="hoveradd" onmouseover="togle()" onmouseout="togleout()">The silver boundle is incorporated into the content, being mindful of relatibilit and clear visibility. </p>
    </div>
   <!-- java works with express as well. -->
   <div id="modal2">
    <%- include('try.ejs')%>
   </div>
   <br>
   <div>
       <p>The gold boundle is not only appears on the website but, will have more highlight than a normal add.</p>
       <p>Furthermore, custom option is available, for more information on the topic contact us.</p>
   </div>
    

<button id="fuck">somehting</button>
<div id="something">
    
</div>

    <style>
    #modal2{
        display: none;
        transition: 400ms;
        
    }
</style>

<!--  -->
<script>
    // vanilla is working as well 
   

 function togle(){
    let togle = document.getElementById("hoveradd")
    let modal = document.getElementById("modal2")
    modal.style.display = "inline";
    modal.style.transition ="400ms"
 }
 function togleout(){
    let togle = document.getElementById("hoveradd")
    let modal = document.getElementById("modal2")
    modal.style.transition = "400ms"
    modal.style.display = "none";

 }


/*
$(document).ready(function(){
    $("#but").click(function(){
      $("#modal").fadeToggle("slow");
      
    });
  }); */

document.getElementById('but2').addEventListener('click', ()=>{
    document.getElementById('some').style.display = "none"
});

</script>

</main>
<link rel="stylesheet" href="/static/style/advertisements.css">
<script type="text/javascript" src="/static/scripts/advertisement.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

