<link rel="stylesheet" type="text/css" href="/static/style/car.css">
<br>
<h1>Generally available jobs throughout the UK.</h1>
<br>
<div class="flexcontent2">
    <div class="text2">
        <h3>Amazon currier jobs:</h3> <br>
        <p>What a gig? <a href="https://flex.amazon.co.uk/" target="_blank">Amazon Flex</a></p>
        <p>To work for amazon the main things you need is a car a mobile phone and some freetime.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, reprehenderit. Dolor eos deserunt perferendis laudantium praesentium! A enim at eos necessitatibus sed nesciunt aspernatur? Dolores, impedit! Deserunt illum facilis illo.</p>
    </div>
    <div class="img">
        <a href="https://flex.amazon.co.uk/" target="_blank"><img src="pictures/amazon5.png" alt="An image of an amazon box"></a>
    </div>
</div>

    <br>
<div class="flexcontent2">
    <div class="text2">
        <h3>Deliveroo:</h3> <br>
        <p><a href="https://www.uber.com/gb/en/?utm_campaign=CM2058923-search-google-brand_184_-99_GB-National_c_web_acq_cpc_en_generics_bmm_uber%20eats_kwd-111378724617_557184317245_128018360637_p_c&utm_source=AdWords_Brand" target="_blank">Currier</a></p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores minus cupiditate reiciendis culpa repellendus! Corrupti in neque facere perspiciatis debitis esse, voluptate blanditiis, dignissimos culpa beatae aperiam ad, deserunt voluptas?</p>

    </div>
    <div class="img">
        <a href="https://www.uber.com/gb/en/?utm_campaign=CM2058923-search-google-brand_184_-99_GB-National_c_web_acq_cpc_en_generics_bmm_uber%20eats_kwd-111378724617_557184317245_128018360637_p_c&utm_source=AdWords_Brand" target="_blank"><img src="pictures/uber.jpeg" alt="Uber loggo"></a>
    </div>
</div>
    <br>
<div class="flexcontent2">
    <div class="text2">
        <a href="https://www.just-eat.co.uk/explore/delivering-with-just-eat"><h3>Just Eat:</h3></a> <br>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia blanditiis laborum hic quas veniam ea sed eius error! Odio voluptatibus commodi quisquam impedit inventore, vero placeat similique molestias provident architecto?</p>

    </div>
    <div class="img">
        <a href="https://www.just-eat.co.uk/explore/delivering-with-just-eat" target="_blank"><img src="pictures/justeat.png" alt="Just eat loggo"></a>
    </div>
</div>
<p>Another option is to go directly to restaurrant chains like:</p>
<br>
<div class="flexcontent2">
    <div class="text2">
        <a href="https://www.dominosrecruitment.co.uk/?gclid=CjwKCAjwnZaVBhA6EiwAVVyv9Dkhu33jbuEoOLx8UI5dg_tG6FnWlw2jcu_eVXbR8sU2YpbVfhJQlRoCAiQQAvD_BwE" target="_blank"><h3>Dominos</h3></a>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint odit atque explicabo quis eum nulla minima perspiciatis similique architecto? Ipsam molestiae autem beatae voluptatum laborum perspiciatis sit commodi, suscipit voluptates.</p>

    </div>
    <div class="img">
        <a href="https://www.dominosrecruitment.co.uk/?gclid=CjwKCAjwnZaVBhA6EiwAVVyv9Dkhu33jbuEoOLx8UI5dg_tG6FnWlw2jcu_eVXbR8sU2YpbVfhJQlRoCAiQQAvD_BwE" target="_blank"><img src="pictures/domino.png" alt="Domino inc. loggo"></a>
    </div>

</div>
<br>
<div class="flexcontent2">
    <div class="text2">
        <a href="https://www.careersatpizzahut.co.uk/drivers/" target="_blank"><h3>Pizza Hut</h3></a>
        <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa similique debitis rem maxime consequuntur quos culpa, quis natus illo unde vel quam numquam saepe officiis voluptate doloremque a maiores explicabo.</p>

    </div>
    <div class="img">
        <a href="https://www.careersatpizzahut.co.uk/drivers/" target="_blank"><img src="pictures/pizzahut.png" alt="pizza hut loggo "></a>
    </div>

</div>




<script>


</script>
