<link rel="stylesheet" type="text/css" href="/static/style/faq2.css">


<div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus commodi libero iusto, ut veniam velit magnam fugit unde molestiae eius sunt labore maiores est porro dolorum aspernatur assumenda similique aliquam?</p>
</div>

<div id="something"> 
    <p>somehting </p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, iste possimus odit sit doloremque provident accusantium enim tempore a. Aliquam provident veniam minus praesentium commodi quidem reiciendis eveniet ut culpa!
</div>
<p><button id="click">click me</button></p>
<div id="toggle">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam praesentium quidem, voluptatum hic laborum nemo vero, inventore cum necessitatibus earum quae unde numquam debitis excepturi aliquid recusandae assumenda ex tempora?</p>
</div>







<script type="text/javascript" src="/static/scripts/faq2.js"></script>