<div>
    <h3>Most Common places to buy car from</h3>
    <div class="container2">
        <div class="text2">
            <a href="https://www.autotrader.co.uk/" target="_blank"><h2>Auto Trader</h2></a>
        </div>
        <div class="image">
            <img src="pictures/autotrader .jpeg" alt="loggo of aoutrader">
        </div>
        
    
    </div>
</div>


<style>
    *{
        text-decoration: none;
    }
    .container2{
        display: flex;
        justify-content: space-around;
        padding: 1vh;
    }
    .text2{
        width: 60vh;
    }
    .image img {
        width: 100%;
        border-radius: 25px;
    }
    .image img:hover{
    transition: transform 300ms;
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
    cursor: pointer;
    }
    .image{
        width: 20vh;
        
    }
</style>