<link rel="stylesheet" type="text/css" href="/static/style/navbar.css">



  <nav>
      <ul class="lu">
        <a href="/"><li class="li"><span>Home</span></li></a>
        <a href="/work"><li class="li"><span>Work</span></li></a>
        <a href="/faq"><li class="li"><span>Tips/FAQ</span></li></a>
        <a href="/about"><li class="li"><span>About</span></li></a>
       
      </ul>
    </nav>
