<link rel="stylesheet" type="text/css" href="/static/style/tips.css">
<div>
    <p>Gadgets for a professional driver?</p>
</div>
<button id="job">job</button>

<div id="output">

</div>

<script>


</script>