   <!--popupp-->
   <!-- <button data-modal-tartget="#modal" id="but">Open modal</button>
-->
   
   <div id="modal" class="modal">
       <div class="modal-header">
           <div class="title">Example popupp</div>
           <button  data-close-button class="close-button" id="but2">&times;</button>
       </div>
       <div class="modal-body" id="some">
           <p>Here is the content of the advert.</p>
           This where the subject of the advert will be. <br>
           Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor sint repellat deleniti ratione recusandae atque consectetur officia beatae placeat labore non harum natus laborum deserunt impedit, nisi vero! Itaque, dicta! Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore aperiam et totam laborum ab alias officiis aut, at magni nesciunt, dicta aliquid dolore modi exercitationem ad! Facere sequi modi earum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur illo, molestiae odit laboriosam libero quisquam eveniet inventore quod maiores sit qui magni atque quasi molestias cupiditate magnam sapiente sequi? Qui.
       </div>

   </div>
   <div id="overlay" ></div>

<!--popupp-->

