*{
    color: white;
    text-decoration: none;
}
.flexcontent2{

display: flex;
justify-content: space-around;
padding: 2px;
}

.text2{
    width: 60vh;
   
}
.img{
    width: 20vh;
    -webkit-filter: brightness(50%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.img img{
    width: 100%;
}
    
.img:hover {
    -webkit-filter: brightness(100%);
    -webkit-transform: rotateZ(-10deg);
        -ms-transform: rotateZ(-10deg);
        transform: rotateZ(-10deg);
        transition: 1s ease;
}

   